/Q1/build/
/Q2/nbproject/private/
/Q3/nbproject/private/
/Q1-LAB1/nbproject/private/
/LAB2Q1/nbproject/private/
/LAB2Q1/build/
/LAB2Q2/nbproject/private/
/LAB2Q2/build/
/LAB2Q3/nbproject/private/
/LAB2Q3/build/
/LAB2Q4/nbproject/private/
/LAB2Q4/build/
/Recursion/LAB3/nbproject/private/
/Recursion/LAB3/build/
/Tree/LAB4Q1/nbproject/private/
/Tree/LAB4Q1/build/
/Tree/LAB4Q2/nbproject/private/
/Tree/LAB4Q2/build/
/Graph/LAB5/nbproject/private/
/Sorting/LAB6/nbproject/private/
/Sorting/LAB6/build/