/Q1/build/
/Q2/nbproject/private/
/Q3/nbproject/private/
/Q1-LAB1/nbproject/private/
/LAB2Q1/nbproject/private/
/LAB2Q1/build/
/LAB2Q2/nbproject/private/
/LAB2Q2/build/
/LAB2Q3/nbproject/private/
/LAB2Q3/build/
/LAB2Q4/nbproject/private/
/LAB2Q4/build/
/Recursion/LAB3/nbproject/private/
/Recursion/LAB3/build/
/Tree/LAB4Q1/nbproject/private/
/Tree/LAB4Q1/build/
/Tree/LAB4Q2/nbproject/private/
/Tree/LAB4Q2/build/
/Graph/LAB5/nbproject/private/
/Sorting/LAB6/nbproject/private/
/Sorting/LAB6/build/
/Hashing/LAB7/nbproject/private/
/Hashing/LAB7/build/
/Assignment2/Exam5/CSD201_CQ16.5/nbproject/private/
/Assignment1/Exam1/CSD201_CQ81/build/
/Assignment1/Exam1/CSD201_CQ81/dist/
/Assignment1/Exam1/CSD201_CQ81/nbproject/private/
/Assignment1/Exam2/CSD201_CQ82/build/
/Assignment1/Exam2/CSD201_CQ82/dist/
/Assignment1/Exam2/CSD201_CQ82/nbproject/private/
/Assignment1/Exam3/CSD201_CQ83/build/
/Assignment1/Exam3/CSD201_CQ83/dist/
/Assignment1/Exam3/CSD201_CQ83/nbproject/private/
/Assignment1/Exam4/CSD201_CQ84/build/
/Assignment1/Exam4/CSD201_CQ84/dist/
/Assignment1/Exam4/CSD201_CQ84/nbproject/private/
/Assignment1/Exam5/CSD201_CQ85/build/
/Assignment1/Exam5/CSD201_CQ85/dist/
/Assignment1/Exam5/CSD201_CQ85/nbproject/private/
/SE193721_Quan_02/Q2/build/
/SE193721_Quan_02/Q2/nbproject/private/